*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-color: rgba(0, 0, 0, 0.219);
    
}

h2{
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: white;
}

div{
    padding: 100px;
}


ul{
    /* display: flex; */
    text-align: center;
    gap: 30px;
    list-style: none;
}

li img{
    margin: 20px;
    width: 250px;
    height: 150px;
}